VITE_SUPABASE_URL=https://tu-proyecto.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRleHQuc3VwYWJhdGV4LmNvbCIsInJvbGUiOiJhbm9uIiwiaWF0IjoxNzQwMDAwMDAwLCJleHAiOjIwOTk5OTk5OTl9.TOKEN_DE_EJEMPLO
